.footer {
    height: 7rem;
}

.footer a {
    color: #fff;
    font-weight: 600;
}

.footer a:hover {
    font-weight: 800;
    text-decoration: none;
}

.footer {
    background-color: #7c98f5;
}

.footer p {
    color: #fff;
}
