
#myTable {
    margin-top: 1em;
    text-align: left;
}

#myTable  *:nth-child(1) tr > *:nth-child(4) *:nth-child(1) *:nth-child(1) {
    display: none;
}

#myTable  *:nth-child(1) tr > *:nth-child(5) *:nth-child(1) *:nth-child(1) {
    display: none;
}

#myTable  *:nth-child(1) tr > *:nth-child(6) *:nth-child(1) *:nth-child(1) {
    display: none;
}

#myTable  *:nth-child(1) tr > *:nth-child(7) *:nth-child(1) *:nth-child(1) {
    display: none;
}

#myTable  *:nth-child(1) tr > *:nth-child(6) {
    color: inherit;
    text-align: center;
}

#myTable tr > *:nth-child(6) {
    color: #7c98f5;
    text-align: center;
}

#myTable  *:nth-child(1) tr > *:nth-child(7) {
    color: inherit;
    text-align: center;
}

#myTable tr > *:nth-child(7) {
    text-align: center;
}

#myTable  *:nth-child(1) tr > *:nth-child(8) {
    color: inherit;
    text-align: center;
}

#myTable tr > *:nth-child(8) {
    color: #FF8A83;
    text-align: center;
}

.clock {
    color: #7c98f5;
    text-align: center;
}

.table thead th {
    border: none;
}

.table>tbody {
    background-color: none;
    background: rgb(255 255 255 / 71%);
}

table tbody tr:first-child td:first-child {
    border-top-left-radius: 8px;
  }
  
  table tbody tr:first-child td:last-child {
    border-top-right-radius: 8px;
  }
  
  table tbody tr:last-child td:first-child {
    border-bottom-left-radius: 8px;
  }
  
  table tbody tr:last-child td:last-child {
    border-bottom-right-radius: 8px;
  }

  .table td {
    border-top: 0px solid #dee2e6;
  }

  .table-head form {
    display: inline;
  }

  .table-hover tbody tr:hover td {
    background: #fafbff;
}

form {
    text-align: left;
}

/* #myTable tr > *:nth-child(4) {
    display: none;
    visibility: hidden;
} */

/* .form-control tr > *:nth-child(4) {
    display: none;
} */