<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Pattern API</title>
    <link rel="stylesheet" href="/public/css/style.css">
    <link rel="icon" href="/public/favicon.ico">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
    <script
      src="https://use.fontawesome.com/releases/v5.15.2/js/all.js"
      data-auto-a11y="true"
    ></script>
</head>

<header>
    <nav>
        <ul>
            <li><a class="active" href="/">Index</a></li>
        </ul>
    </nav>
</header>
<section id="top"></section>
<div class="top"><a href="#top"><i class="fa fa-arrow-up" aria-hidden="true"></i></a></div>
<body>
    <main>
