.react-datetime-picker__wrapper {
    border-radius: .375rem;
    /* border: thin solid gray; */
    background-color: #fff;
    border: 1px solid #ced4da;
    padding: 0.375rem 0.75rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.date {
    display: block;
}

.editable {
    margin: auto;
    max-width: 270px;
}

.edit-div {
    max-width: 250px;
}

/* .editable .btn-secondary {
    top: 32px;
    position: relative;
    background-color: #4643f8;
    --bs-btn-border-color: #4643f8;
}


.editable .btn-secondary {
    background-color: #7c98f5;
    --bs-btn-border-color: #7c98f5;
    color: #fff;
} */

/* margin-bottom: 0.5rem
display: inline-block; */
