#catTable tr > *:nth-child(1) {
    text-align: left;
}

#catTable tr > *:nth-child(2) {
    color: #7c98f5;
    text-align: center;
}

#catTable  *:nth-child(1) tr > *:nth-child(2) {
    color: inherit;
    text-align: center;
}

#catTable tr > *:nth-child(3) {
    color: #7c98f5;
    text-align: center;
}

#catTable  *:nth-child(1) tr > *:nth-child(3) {
    color: inherit;
    text-align: center;
}

.table thead th {
    border: none;
}

.table>tbody {
    background-color: none;
    background: rgb(255 255 255 / 71%);
    box-shadow: 1px 2px 18px #e6ebfe;
}

table tbody tr:first-child td:first-child {
    border-top-left-radius: 8px;
  }
  
  table tbody tr:first-child td:last-child {
    border-top-right-radius: 8px;
  }
  
  table tbody tr:last-child td:first-child {
    border-bottom-left-radius: 8px;
  }
  
  table tbody tr:last-child td:last-child {
    border-bottom-right-radius: 8px;
  }

  .table td {
    border-top: 0px solid #dee2e6;
  }

  .table-head form {
    display: inline;
  }

  .table-hover tbody tr:hover td {
    background: #fafbff;
}

form {
    text-align: left;
}

/* .myTable tr > *:nth-child(4) {
    display: none;
    visibility: hidden;
} */

/* .form-control tr > *:nth-child(4) {
    display: none;
} */